
<div class="container">
{#        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-2 border-top">#}
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-2">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1 rounded-circle" aria-label="Home">
                    <i class="fa-solid fa-house fa-xl"></i>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary"><span>Created by Fotis Fotiadis <span class="copyright-symbol"><i class="fa-regular fa-copyright fa-shake"></i></span> {{ now.year }}</span></span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3 rounded">
                    <a class="text-body-secondary" href="mailto:fotis.fotiadis.85@gmail.com" aria-label="email">
                        <i class="fa-regular fa-envelope fa-xl"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary rounded-circle " href="https://www.linkedin.com/in/fotis-fotiadis/" aria-label="linkedin">
                        <i class="fa-brands fa-linkedin-in fa-xl"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://github.com/Skioulis" aria-label="github">
                        <i class="fa-brands fa-github fa-xl"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
