
<footer class="footer box-container">
    <div class="footer-content styled-box">
        <div class="footer-left">
            <span>Created by Fotis Fotiadis <span class="copyright-symbol"><i class="fa-regular fa-copyright fa-shake"></i></span> {{ now.year }}</span>
        </div>
        <div class="footer-right">
            <span>
                <a href="mailto:fotis.fotiadis.85@gmail.com" class="email-link" title="Email">
                    <i class="fa-solid fa-envelope email-link"></i>
                 </a>
            </span>
            <span>
                <a href="https://www.linkedin.com/in/fotis-fotiadis/" class="linkedIn-link"
                   title="LinkedIn" target="_blank">
                   <i class="fa-brands fa-linkedin linkedIn-link"></i>
                </a>
            </span>
            <span>
                <a href="https://github.com/Skioulis" class="github-link"
                   title="GitHub" target="_blank">
                    <i class="fa-brands fa-github github-link"></i>
                 </a>
            </span>
        </div>
    </div>
</footer>