<div class="container-fluid d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg rounded-3 col-11 mx-auto">
      <div class="container-fluid">
        <img src="{{ url_for('static', filename='images/bg-img-2.png') }}" alt="Sakis Collection" width="30" height="30" class="logo rotate-animation-disc">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% set endpoint = request.endpoint %}
            <li class="nav-item">
              <a class="nav-link{% if endpoint == 'main.home' %} active{% endif %}"{% if endpoint == 'main.home' %} aria-current="page"{% endif %} href="{{ url_for('main.home') }}"><span class="navbar-text">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if endpoint in ['main.songs_list', 'main.single_song', 'main.add_song'] %} active{% endif %}"{% if endpoint in ['main.songs_list', 'main.single_song', 'main.add_song'] %} aria-current="page"{% endif %} href="{{ url_for('main.songs_list') }}"><span class="navbar-text">Songs</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if endpoint in ['main.disks_list', 'main.single_disk', 'main.add_disk'] %} active{% endif %}"{% if endpoint in ['main.disks_list', 'main.single_disk', 'main.add_disk'] %} aria-current="page"{% endif %} href="{{ url_for('main.disks_list') }}"><span class="navbar-text">Disks</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if endpoint in ['main.persons_list', 'main.single_person', 'main.add_person'] %} active{% endif %}"{% if endpoint in ['main.persons_list', 'main.single_person', 'main.add_person'] %} aria-current="page"{% endif %} href="{{ url_for('main.persons_list') }}"><span class="navbar-text">Persons</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if endpoint in ['main.companies_list', 'main.single_company', 'main.add_company'] %} active{% endif %}"{% if endpoint in ['main.companies_list', 'main.single_company', 'main.add_company'] %} aria-current="page"{% endif %} href="{{ url_for('main.companies_list') }}"><span class="navbar-text">Companies</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if endpoint in ['main.disk_labels_list', 'main.single_disk_label', 'main.add_disk_label'] %} active{% endif %}"{% if endpoint in ['main.disk_labels_list', 'main.single_disk_label', 'main.add_disk_label'] %} aria-current="page"{% endif %} href="{{ url_for('main.disk_labels_list') }}"><span class="navbar-text">Disk Labels</span></a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="navbar-text">Add </span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link navbar-text" href="{{ url_for('main.add_disk') }}">Add Disk</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navbar-text" href="{{ url_for('main.add_company') }}">Add Company</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navbar-text" href="{{ url_for('main.add_disk_label') }}">Add Disk Label</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navbar-text" href="{{ url_for('main.add_person') }}">Add Person</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navbar-text" href="{{ url_for('main.add_song') }}">Add Song</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search" method="GET" action="{{ url_for('main.search') }}">
            <select class="form-select me-2 flex-shrink-0" name="type" aria-label="Search category" style="width: auto;">
              <option value="everything" {% if request.args.get('type', 'everything') == 'everything' %}selected{% endif %}>Everything</option>
              <option value="disks" {% if request.args.get('type') == 'disks' %}selected{% endif %}>Disks</option>
              <option value="songs" {% if request.args.get('type') == 'songs' %}selected{% endif %}>Songs</option>
              <option value="persons" {% if request.args.get('type') == 'persons' %}selected{% endif %}>Persons</option>
              <option value="companies" {% if request.args.get('type') == 'companies' %}selected{% endif %}>Companies</option>
              <option value="disk_labels" {% if request.args.get('type') == 'disk_labels' %}selected{% endif %}>Disk Labels</option>
            </select>
            <input class="form-control me-2" type="search" name="q" value="{{ request.args.get('q', '') }}" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</div>